{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="container py-3 py-md-5">
  <div class="row">
    <div class="col-md-5">
      <div id="product-image-carousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          {% for image in product.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img class="carousel-item-image" src="{{ image.src  | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#product-image-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#product-image-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <div class="row hidden-sm-down">
        {% for image in product.images %}
        <div class="col-md-3">
          <a class="product-link" href="{{ image.src | img_url: 'large' }}">
            <img class="product-img" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
        {% endfor %}
      </div>

    </div>

    <div class="col-md-7">
      <div class="hidden-sm-down">
        <h1>{{ product.title | escape }}</h1>
        <h5 class="text-muted">{{ product.vendor | escape }}</h5>
        <h3>{% if product.price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}{{
          product.price | money }}{% endif %}</h3>
      </div>
      {%- include 'product-details' -%}
        <form action="/cart/add" method="post" role="form" class="mt-3">

          {%- if product.variants.size > 1 -%}
          <div class="form-group">
            <label for="product-select">Select your {{ product.title | downcase }}</label>
            <select id="product-select" name="id" class="form-control">
              {%- for variant in product.variants -%}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
              {%- endfor -%}
            </select>
          </div>
          {%- else =%}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          {%- endif -%}

          <button type="submit" class="btn btn-primary btn-lg btn-xs-block" {% unless product.available %}disabled="disabled" {%
            endunless %}>Add to cart</button>

        </form>
    </div>

  </div>
</div>

